<a href="https://colab.research.google.com/github/CalvHobbes/ecomm_ai/blob/main/nsql6b_inference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%pip install -q psycopg2-binary
%pip install -q 'vanna[chromadb,ollama,postgres]'
%pip install -q langchain_community
%pip install -q bitsandbytes accelerate

In [ ]:
def extract_from_default_prompt(prompt):
    DDL_statement = ""
    user_question = ""
    instruct = ''
    instructions = []

    for entry in prompt:
        role = entry['role']
        content = entry['content']

        if role == 'system':
            DDL_statement = content
        elif role == 'user':
            user_question = content
        elif role == 'assistant':
            instructions.append((prev_user_content, content))

        # Lưu lại nội dung user trước đó
        if role == 'user':
            prev_user_content = content

    instruct += 'SAMPLE QUESTION-QUERY:\n\n'
    for q, s in instructions:
        instruct += f'Sample question: {q}\nSample query: {s}\n\n'
        instruct += f''

    doc = DDL_statement.split('===Additional Context')[1].split('===Response Guidelines')[0]
    doc = 'Additional Context: ' + doc + 'Refer to the sample question-query below.\n\n'
    instruct = doc + instruct

    DDL_statement = DDL_statement.split('===Additional Context')[0]

    return DDL_statement, user_question, instruct

In [ ]:
from vanna.base import VannaBase
from transformers import AutoTokenizer, AutoModelForCausalLM

import json
import sqlparse
import torch

class SQLCoder8b(VannaBase):
    def __init__(self, config=None):
        if config is None:
            raise ValueError(
                "For SQLCoder, config must be provided at least model_name"
            )

        self.model_name = config.get('model_name')
        if not self.model_name:
            raise ValueError("config must contain model_name")

        self.tokenizer = AutoTokenizer.from_pretrained(self.model_name)
        self.model = AutoModelForCausalLM.from_pretrained(self.model_name,
                                                          trust_remote_code=True,
                                                          torch_dtype=torch.float16,
                                                          device_map="auto",
                                                          use_cache=True,)

    def system_message(self, message: str) -> any:
        return {"role": "system", "content": message}

    def user_message(self, message: str) -> any:
        return {"role": "user", "content": message}

    def assistant_message(self, message: str) -> any:
        return {"role": "assistant", "content": message}

    def submit_prompt(self, prompt, **kwargs) -> str:
        if prompt is None:
            raise Exception("Prompt is None")

        if len(prompt) == 0:
            raise Exception("Prompt is empty")

        create_table_statements, user_question, instructions = extract_from_default_prompt(prompt)
        updated_prompt = f'''<|begin_of_text|><|start_header_id|>user<|end_header_id|>

Generate a SQL query to answer this question: `{user_question}`
{instructions}

DDL statements:
{create_table_statements}<|eot_id|><|start_header_id|>assistant<|end_header_id|>

The following SQL query best answers the question `{user_question}`:
```sql'''

        device = "cuda" if torch.cuda.is_available() else "cpu"
        inputs = self.tokenizer(updated_prompt, return_tensors="pt").to(device)
        generated_ids = self.model.generate(
            **inputs,
            num_return_sequences=1,
            eos_token_id=self.tokenizer.eos_token_id,
            pad_token_id=self.tokenizer.eos_token_id,
            max_new_tokens=400,
            do_sample=False,
            num_beams=1,
        )
        outputs = self.tokenizer.batch_decode(generated_ids, skip_special_tokens=True)

        torch.cuda.empty_cache()
        torch.cuda.synchronize()

        return outputs[0].split("```sql")[-1]

In [ ]:
from vanna.chromadb import ChromaDB_VectorStore

class MyVanna(ChromaDB_VectorStore, SQLCoder8b):
    def __init__(self, config=None):
        ChromaDB_VectorStore.__init__(self, config=config)
        SQLCoder8b.__init__(self, config=config)

In [ ]:
# if model_name is defog/llama-3-sqlcoder-8b, the notebook will download it
# if you have download all model
vn = MyVanna(config={'model_name': '/kaggle/input/defog-llama-3-sqlcoder-8b'})

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

Loading checkpoint shards:   0%|          | 0/4 [00:00<?, ?it/s]

In [ ]:
vn.connect_to_postgres(
    host='your-host',
    dbname='your-db-name',
    user='your-user',
    password='your-password',
    port='your-port'
)

In [ ]:
# paste your ddl here
list_ddl = [
	"""
	CREATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
	);
	""",
]

docs = [
    'When the question contains exact string, ALWAYS use case-insensitive LOWER or ILIKE.',
    'Make sure ALWAYS use correct table name.',
    'When question ask about "tên" in name, use "first_name"',
    'When question ask about "họ" in name, use "last_name"',
    'City is difference from country',
    "If you cannot answer the question with the available database schema, return 'I do not know'",
    '"nơi đăng ký kết hôn" is also known as "marriage registation place"',
    "try to parse into integer when you have a condition clause, example: where year_birth=1990 ==> where year_birth='1990'",
    "If the question contains an address, you should query based on the type of address name located in a certain cell, not adress equal a cell value, example: LOWER(mp.marriage_registration_place) = '%hải phòng%'; ==> LOWER(mp.marriage_registration_place) LIKE '%hải phòng%';",
]

qs_pair = []

In [ ]:
for ddl in list_ddl:
    vn.train(ddl=ddl)
for doc in docs:
    vn.train(documentation=doc)
for q, s in qs_pair:
    vn.train(question=q, sql=s)

Adding ddl:
    CREATE TABLE hr_employee (
	id SERIAL NOT NULL,
	resource_id INTEGER NOT NULL,
	company_id INTEGER NOT NULL,
	resource_calendar_id INTEGER,
	message_main_attachment_id INTEGER,
	color INTEGER,
	department_id INTEGER,
	job_id INTEGER,
	address_id INTEGER,
	work_contact_id INTEGER,
	work_location_id INTEGER,
	user_id INTEGER,
	parent_id INTEGER,
	coach_id INTEGER,
	address_home_id INTEGER,
	country_id INTEGER,
	children INTEGER,
	country_of_birth INTEGER,
	bank_account_id INTEGER,
	km_home_work INTEGER,
	departure_reason_id INTEGER,
	create_uid INTEGER,
	write_uid INTEGER,
	name VARCHAR,
	job_title VARCHAR,
	work_phone VARCHAR,
	mobile_phone VARCHAR,
	work_email VARCHAR,
	employee_type VARCHAR NOT NULL,
	gender VARCHAR,
	marital VARCHAR,
	spouse_complete_name VARCHAR,
	place_of_birth VARCHAR,
	ssnid VARCHAR,
	sinid VARCHAR,
	identification_id VARCHAR,
	passport_id VARCHAR,
	permit_no VARCHAR,
	visa_no VARCHAR,
	certificate VARCHAR,
	study_field VARCHAR,
	study_school VARCHAR,
	emergency_contact VARCHAR,
	emergency_phone VARCHAR,
	barcode VARCHAR,
	pin VARCHAR,
	spouse_birthdate DATE,
	birthday DATE,
	visa_expire DATE,
	work_permit_expiration_date DATE,
	departure_date DATE,
	additional_note TEXT,
	notes TEXT,
	departure_description TEXT,
	active BOOLEAN,
	work_permit_scheduled_activity BOOLEAN,
	create_date TIMESTAMP WITHOUT TIME ZONE,
	write_date TIMESTAMP WITHOUT TIME ZONE,
	short_name VARCHAR,
	CONSTRAINT hr_employee_pkey PRIMARY KEY (id),
	CONSTRAINT hr_employee_address_home_id_fkey FOREIGN KEY(address_home_id) REFERENCES res_partner (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_address_id_fkey FOREIGN KEY(address_id) REFERENCES res_partner (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_bank_account_id_fkey FOREIGN KEY(bank_account_id) REFERENCES res_partner_bank (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_coach_id_fkey FOREIGN KEY(coach_id) REFERENCES hr_employee (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_company_id_fkey FOREIGN KEY(company_id) REFERENCES res_company (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_country_id_fkey FOREIGN KEY(country_id) REFERENCES res_country (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_country_of_birth_fkey FOREIGN KEY(country_of_birth) REFERENCES res_country (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_create_uid_fkey FOREIGN KEY(create_uid) REFERENCES res_users (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_department_id_fkey FOREIGN KEY(department_id) REFERENCES hr_department (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_departure_reason_id_fkey FOREIGN KEY(departure_reason_id) REFERENCES hr_departure_reason (id) ON DELETE RESTRICT,
	CONSTRAINT hr_employee_job_id_fkey FOREIGN KEY(job_id) REFERENCES hr_job (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_message_main_attachment_id_fkey FOREIGN KEY(message_main_attachment_id) REFERENCES ir_attachment (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_parent_id_fkey FOREIGN KEY(parent_id) REFERENCES hr_employee (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_resource_calendar_id_fkey FOREIGN KEY(resource_calendar_id) REFERENCES resource_calendar (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES resource_resource (id) ON DELETE RESTRICT,
	CONSTRAINT hr_employee_user_id_fkey FOREIGN KEY(user_id) REFERENCES res_users (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_work_contact_id_fkey FOREIGN KEY(work_contact_id) REFERENCES res_partner (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_work_location_id_fkey FOREIGN KEY(work_location_id) REFERENCES hr_work_location (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_write_uid_fkey FOREIGN KEY(write_uid) REFERENCES res_users (id) ON DELETE SET NULL,
	CONSTRAINT hr_employee_barcode_uniq UNIQUE (barcode),
	CONSTRAINT hr_employee_user_uniq UNIQUE (user_id, company_id)
);

/root/.cache/chroma/onnx_models/all-MiniLM-L6-v2/onnx.tar.gz: 100%|██████████| 79.3M/79.3M [00:01<00:00, 53.2MiB/s]

Adding ddl:
    CREATE TABLE medical_patient (
	id SERIAL NOT NULL,
	message_main_attachment_id INTEGER,
	end_period_menses INTEGER,
	end_time_menses INTEGER,
	start_time_menses INTEGER,
	iui_qty INTEGER,
	ivf_qty INTEGER,
	year_wait_child INTEGER,
	month_wait_child INTEGER,
	doctor_id INTEGER,
	patient_record_count INTEGER,
	age INTEGER,
	company_id INTEGER NOT NULL,
	origin_patient_id INTEGER,
	ethnic_id INTEGER,
	religion_id INTEGER,
	state_id INTEGER,
	country_id INTEGER,
	current_relationship_id INTEGER,
	create_uid INTEGER,
	write_uid INTEGER,
	name VARCHAR NOT NULL,
	pulse_rate VARCHAR,
	breathing_rate VARCHAR,
	notes_others VARCHAR,
	is_contracept VARCHAR,
	contraceptive VARCHAR,
	notes_father VARCHAR,
	notes_mother VARCHAR,
	notes_grandparent VARCHAR,
	has_medical_disease VARCHAR,
	right_ovary VARCHAR,
	left_ovary VARCHAR,
	uterus_comment VARCHAR,
	left_epididymis VARCHAR,
	right_epididymis VARCHAR,
	left_varicose_testicle VARCHAR,
	right_varicose_testicle VARCHAR,
	exam_inguinal_left VARCHAR,
	exam_inguinal_right VARCHAR,
	exam_rectal VARCHAR,
	marital VARCHAR,
	marriage_registration_number VARCHAR,
	marriage_registration_place VARCHAR,
	notes_smoking VARCHAR,
	notes_wine VARCHAR,
	using_drugs_note VARCHAR,
	external_factors_note VARCHAR,
	iui_result VARCHAR,
	ivf_result VARCHAR,
	use_contraception VARCHAR,
	contraception VARCHAR,
	semen_test VARCHAR,
	frequence_sex_activity VARCHAR,
	para_text VARCHAR,
	number_pregnancy VARCHAR,
	number_children_alive VARCHAR,
	number_delivery VARCHAR,
	number_caesarean_delivery VARCHAR,
	number_premature_birth VARCHAR,
	number_miscarriage VARCHAR,
	number_abortion VARCHAR,
	number_stillbirth VARCHAR,
	has_geu VARCHAR,
	has_molar_pregnancy VARCHAR,
	sexual_activity_time_per_week VARCHAR,
	has_pain_sex VARCHAR,
	pre_number_pregnancy VARCHAR,
	pre_number_children_alive VARCHAR,
	pre_number_delivery VARCHAR,
	pre_number_caesarean_delivery VARCHAR,
	pre_number_premature_birth VARCHAR,
	pre_number_miscarriage VARCHAR,
	pre_number_abortion VARCHAR,
	pre_number_stillbirth VARCHAR,
	amenorrhea VARCHAR,
	year_old_start_menses VARCHAR,
	year_start_menses VARCHAR,
	period_menses VARCHAR,
	feature_menses VARCHAR,
	time_menses VARCHAR,
	volume_blood VARCHAR,
	is_pain VARCHAR,
	infertility VARCHAR,
	has_disease_affects_childbirth VARCHAR,
	has_disease_affects_childbirth_note VARCHAR,
	medical_history VARCHAR,
	pelvic_inflammatory_disease VARCHAR,
	pelvic_inflammatory_disease_note VARCHAR,
	has_historic_surgery VARCHAR,
	surgery_geu VARCHAR,
	surgery_cut_vt VARCHAR,
	surgery_catheterization VARCHAR,
	surgery_ovarian_cyst_removal VARCHAR,
	surgery_ovarian_cancer_removal VARCHAR,
	surgery_uterine_fibroid_removal VARCHAR,
	surgery_vrt VARCHAR,
	surgery_caesareans VARCHAR,
	nipple_discharge VARCHAR,
	nipple_discharge_note VARCHAR,
	mental_illness_history VARCHAR,
	family_history VARCHAR,
	history_drug_allergy VARCHAR,
	has_urinary_tract_infection VARCHAR,
	had_mumps VARCHAR,
	investigation VARCHAR,
	tcvt_uterus VARCHAR,
	tcvt_uterus_note VARCHAR,
	tcvt_vt_right VARCHAR,
	tcvt_vt_right_note VARCHAR,
	tcvt_vt_left VARCHAR,
	tcvt_vt_left_note VARCHAR,
	pelvis VARCHAR,
	abdomen VARCHAR,
	laparoscopy_uterus VARCHAR,
	ovaries VARCHAR,
	laparoscopy_vt_right VARCHAR,
	laparoscopy_vt_right_note VARCHAR,
	laparoscopy_vt_left VARCHAR,
	laparoscopy_vt_left_note VARCHAR,
	vagina VARCHAR,
	uterine_cavity VARCHAR,
	ostias VARCHAR,
	intervention VARCHAR,
	blood_pressure VARCHAR,
	pain_scale VARCHAR,
	pain_score VARCHAR,
	physical_examination VARCHAR,
	hair_distribution VARCHAR,
	breast_development VARCHAR,
	lactation VARCHAR,
	external_genitalia VARCHAR,
	internal_genitalia VARCHAR,
	hymen VARCHAR,
	genitalia_vagina VARCHAR,
	uterus_volume VARCHAR,
	uterus_density VARCHAR,
	uterus_mobility VARCHAR,
	uterus_posture VARCHAR,
	uterus_adnexas VARCHAR,
	test_catheter VARCHAR,
	penis VARCHAR,
	swelling_scrotum VARCHAR,
	rectal_examination VARCHAR,
	prostate VARCHAR,
	vesicles VARCHAR,
	left_testicle VARCHAR,
	left_testicle_volume VARCHAR,
	left_epididymides VARCHAR,
	left_vasa_deferentia VARCHAR,
	left_varicocele VARCHAR,
	left_inguinal_examination VARCHAR,
	right_testicle VARCHAR,
	right_testicle_volume VARCHAR,
	right_epididymides VARCHAR,
	right_vasa_deferentia VARCHAR,
	right_varicocele VARCHAR,
	right_inguinal_examination VARCHAR,
	first_name VARCHAR,
	last_name VARCHAR,
	json_modify_name VARCHAR,
	code VARCHAR,
	gender VARCHAR,
	location VARCHAR,
	day_birth VARCHAR,
	month_birth VARCHAR,
	year_birth VARCHAR,
	characters VARCHAR,
	code_center VARCHAR,
	internal_ref VARCHAR,
	lang VARCHAR,
	street VARCHAR,
	address VARCHAR,
	permanent_address VARCHAR,
	mobile VARCHAR,
	email VARCHAR,
	id_passport VARCHAR,
	id_card VARCHAR,
	old_id_card VARCHAR,
	place_issued VARCHAR,
	career VARCHAR,
	work_address VARCHAR,
	role VARCHAR,
	ultrasound_date DATE,
	hsg_date DATE,
	hysteroscopy_date DATE,
	marriage_registration_date DATE,
	tc_vt_scan_date DATE,
	laparoscopy_date DATE,
	diagnostic_operative_hystersoscopy_date DATE,
	birthday DATE,
	date_first DATE,
	date_issued DATE,
	notes_general TEXT,
	systemic_disease_note TEXT,
	female_medical_disease_note TEXT,
	has_method_treat_infertility_used_note TEXT,
	notes_period_menses TEXT,
	notes_time_menses TEXT,
	notes_blood TEXT,
	notes_pain TEXT,
	sexually_transmitted_disease_note TEXT,
	male_has_sexually_transmitted_disease_note TEXT,
	medical_history_note TEXT,
	surgery_other_diseases TEXT,
	has_male_surgery_note TEXT,
	mental_illness_history_note TEXT,
	family_history_note TEXT,
	drug_allergy_note TEXT,
	has_urinary_tract_infection_note TEXT,
	had_mumps_note TEXT,
	tcvt_note TEXT,
	pelvis_note TEXT,
	abdomen_note TEXT,
	laparoscopy_uterus_note TEXT,
	ovaries_note TEXT,
	laparoscopy_note TEXT,
	vagina_note TEXT,
	uterine_cavity_note TEXT,
	ostias_note TEXT,
	intervention_note TEXT,
	pain_note TEXT,
	physical_examination_note TEXT,
	hair_distribution_note TEXT,
	breast_development_note TEXT,
	lactation_note TEXT,
	external_genitalia_note TEXT,
	internal_genitalia_note TEXT,
	hymen_note TEXT,
	genitalia_vagina_note TEXT,
	notes TEXT,
	is_others BOOLEAN,
	heredity_father BOOLEAN,
	heredity_mother BOOLEAN,
	heredity_grandparent BOOLEAN,
	is_hsg BOOLEAN,
	is_hysteroscopy BOOLEAN,
	is_smoking BOOLEAN,
	is_wine BOOLEAN,
	is_using_drugs BOOLEAN,
	external_factors_affected BOOLEAN,
	show_iui BOOLEAN,
	show_ivf BOOLEAN,
	show_male_surgery_note BOOLEAN,
	active BOOLEAN,
	virtual_patient BOOLEAN,
	create_date TIMESTAMP WITHOUT TIME ZONE,
	write_date TIMESTAMP WITHOUT TIME ZONE,
	temperature DOUBLE PRECISION,
	height DOUBLE PRECISION,
	weight DOUBLE PRECISION,
	bmi DOUBLE PRECISION,
	related_patient_id INTEGER,
	amh VARCHAR,
	fsh VARCHAR,
	lh VARCHAR,
	e2 VARCHAR,
	p4 VARCHAR,
	beta_hcg VARCHAR,
	prolactin VARCHAR,
	blood_type VARCHAR,
	hiv VARCHAR,
	hbsag VARCHAR,
	hav VARCHAR,
	hcv VARCHAR,
	has_recognition BOOLEAN,
	expected_medical_protocol_id INTEGER,
	expected_treatment_technical VARCHAR,
	expected_fsh_dosage VARCHAR,
	treatment_history_summary TEXT,
	wife_other_treatment_issue_note TEXT,
	husband_other_treatment_issue_note TEXT,
	is_diminished_ovarian_reserve BOOLEAN,
	is_ovarian_endometriosis BOOLEAN,
	is_adenomyosis BOOLEAN,
	is_polycystic_ovary_syndrome BOOLEAN,
	is_polycystic_ovarian_on_ultrasound BOOLEAN,
	is_menstrual_disorders BOOLEAN,
	is_hyperandrogenism BOOLEAN,
	is_hypopituitarism BOOLEAN,
	is_wife_genetic_disorder BOOLEAN,
	is_wife_thalassemia BOOLEAN,
	wife_other_treatment_issue BOOLEAN,
	is_normozoospermia BOOLEAN,
	is_retrograde_ejaculation BOOLEAN,
	is_oligoasthenoteratozoospermia BOOLEAN,
	is_varicocele BOOLEAN,
	is_husband_genetic_disorder BOOLEAN,
	is_cryptorchidism BOOLEAN,
	is_azoospermia BOOLEAN,
	is_obstructive BOOLEAN,
	is_non_obstructive BOOLEAN,
	is_husband_thalassemia BOOLEAN,
	husband_other_treatment_issue BOOLEAN,
	code_bank_reference VARCHAR,
	session_code_bank_reference VARCHAR,
	session_code_oocyte_bank_reference VARCHAR,
	responsible_user_id INTEGER,
	number_of_marriages INTEGER,
	icd_refer_hospital_id INTEGER,
	icd_initial_id INTEGER,
	icd_definitive_id INTEGER,
	icd_co_morbidity_id INTEGER,
	notes_using_stimulants VARCHAR,
	sexually_transmitted_disease_treatment VARCHAR,
	notes_para VARCHAR,
	has_history_of_birth_defects VARCHAR,
	notes_history_of_birth_defects VARCHAR,
	has_medical_disease_treatment VARCHAR,
	notes_other_surgery_history VARCHAR,
	has_genetic_pathology VARCHAR,
	has_history_of_infetility_in_family VARCHAR,
	has_history_of_birth_defects_in_family VARCHAR,
	androgen VARCHAR,
	left_breast_development VARCHAR,
	right_breast_development VARCHAR,
	secondary_genital_signs_text VARCHAR,
	vulva_perineum_text VARCHAR,
	vagina_text VARCHAR,
	cervical_text VARCHAR,
	uterus_text VARCHAR,
	left_uterus_appendage_text VARCHAR,
	right_uterus_appendage_text VARCHAR,
	douglass_text VARCHAR,
	other_parts VARCHAR,
	uterine VARCHAR,
	uterine_note VARCHAR,
	uterine_tube_left VARCHAR,
	uterine_tube_left_note VARCHAR,
	uterine_tube_right VARCHAR,
	uterine_tube_right_note VARCHAR,
	uterine_pump_ultrasound VARCHAR,
	uterine_pump_ultrasound_note VARCHAR,
	diagnostic_hysteroscopy VARCHAR,
	diagnostic_hysteroscopy_note VARCHAR,
	breast_ultrasound VARCHAR,
	breast_ultrasound_note VARCHAR,
	mammography VARCHAR,
	mammography_note VARCHAR,
	cervical_cancer_screening VARCHAR,
	cervical_cancer_screening_note VARCHAR,
	thalassemia VARCHAR,
	antiphospholipid VARCHAR,
	thrombophilia VARCHAR,
	ivf_other_reason VARCHAR,
	left_undescended_testicles VARCHAR,
	right_undescended_testicles VARCHAR,
	left_dilation_surgery VARCHAR,
	right_dilation_surgery VARCHAR,
	sexual_desire VARCHAR,
	frequence_sex_activity_hp VARCHAR,
	ejaculation_disorder_hp VARCHAR,
	erectile_dysfunction_hp VARCHAR,
	retrograde_ejaculation_hp VARCHAR,
	undefined_reason VARCHAR,
	klinefelter VARCHAR,
	dna_y VARCHAR,
	other_dna VARCHAR,
	cancer VARCHAR,
	other_pain VARCHAR,
	gnrh VARCHAR,
	vasectomy VARCHAR,
	vasectomy_dna VARCHAR,
	other_reason VARCHAR,
	erectile_dysfunction_mind VARCHAR,
	ejaculation_disorder_sum VARCHAR,
	left_testicular_biopsy VARCHAR,
	right_testicular_biopsy VARCHAR,
	testicular_biopsy_text VARCHAR,
	karyotype VARCHAR,
	dna_y_text VARCHAR,
	ultrasound_text VARCHAR,
	other_testicular VARCHAR,
	iui_code VARCHAR,
	ivf_code VARCHAR,
	douglass VARCHAR,
	environment_or_occupational_factors VARCHAR,
	notes_genetic_pathology TEXT,
	notes_history_of_infetility_in_family TEXT,
	notes_history_of_birth_defects_in_family TEXT,
	medical_history_in_family_others TEXT,
	diagnosis TEXT,
	treatment_plan TEXT,
	left_vasectomy TEXT,
	right_vasectomy TEXT,
	diagnosis_refer_hospital TEXT,
	initial_diagnosis TEXT,
	definitive_diagnosis TEXT,
	co_morbidity TEXT,
	is_using_stimulants BOOLEAN,
	show_medical_disease_note BOOLEAN,
	has_other_surgery_history BOOLEAN,
	CONSTRAINT medical_patient_pkey PRIMARY KEY (id),
	CONSTRAINT medical_patient_company_id_fkey FOREIGN KEY(company_id) REFERENCES res_company (id) ON DELETE RESTRICT,
	CONSTRAINT medical_patient_country_id_fkey FOREIGN KEY(country_id) REFERENCES res_country (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_create_uid_fkey FOREIGN KEY(create_uid) REFERENCES res_users (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_current_relationship_id_fkey FOREIGN KEY(current_relationship_id) REFERENCES medical_history_relationship (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES hr_employee (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_ethnic_id_fkey FOREIGN KEY(ethnic_id) REFERENCES res_ethnic (id) ON DELETE RESTRICT,
	CONSTRAINT medical_patient_expected_medical_protocol_id_fkey FOREIGN KEY(expected_medical_protocol_id) REFERENCES medical_protocol (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_icd_co_morbidity_id_fkey FOREIGN KEY(icd_co_morbidity_id) REFERENCES medical_icd (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_icd_definitive_id_fkey FOREIGN KEY(icd_definitive_id) REFERENCES medical_icd (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_icd_initial_id_fkey FOREIGN KEY(icd_initial_id) REFERENCES medical_icd (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_icd_refer_hospital_id_fkey FOREIGN KEY(icd_refer_hospital_id) REFERENCES medical_icd (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_message_main_attachment_id_fkey FOREIGN KEY(message_main_attachment_id) REFERENCES ir_attachment (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_origin_patient_id_fkey FOREIGN KEY(origin_patient_id) REFERENCES medical_patient (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_related_patient_id_fkey FOREIGN KEY(related_patient_id) REFERENCES medical_patient (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_religion_id_fkey FOREIGN KEY(religion_id) REFERENCES res_religion (id) ON DELETE RESTRICT,
	CONSTRAINT medical_patient_responsible_user_id_fkey FOREIGN KEY(responsible_user_id) REFERENCES res_users (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_state_id_fkey FOREIGN KEY(state_id) REFERENCES res_country_state (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_write_uid_fkey FOREIGN KEY(write_uid) REFERENCES res_users (id) ON DELETE SET NULL,
	CONSTRAINT medical_patient_pid_uniq UNIQUE (code)
)
;

Adding documentation....
Adding documentation....
Adding documentation....
Adding documentation....
Adding documentation....
Adding documentation....
Adding documentation....
Adding documentation....
Adding documentation....

In [ ]:
vn.get_training_data()

,id,question,content,training_data_type
0,b22f0e34-01dc-52d1-9054-944dbd01dd7c-ddl,None,\n CREATE TABLE medical_patient (\n\tid SER...,ddl
1,eeb1cf4c-4e08-5dc1-b58d-c0355eb369af-ddl,None,\n CREATE TABLE hr_employee (\n\tid SERIAL ...,ddl
0,15efc567-67c0-5027-8549-844cf3bc52a3-doc,None,"""nơi đăng ký kết hôn"" is also known as ""marria...",documentation
1,23685f6f-aea9-52fd-9510-fe3b59092ee5-doc,None,"When question ask about ""họ"" in name, use ""las...",documentation
2,3a0acfec-aab4-591e-8837-b7704b9b24cc-doc,None,try to parse into integer when you have a cond...,documentation
3,cd028ba8-a454-5600-bd6e-ef6e57302147-doc,None,"If the question contains an address, you shoul...",documentation
4,cd119275-7b70-578f-9dc5-a6f649aa14e1-doc,None,"When the question contains exact string, ALWAY...",documentation
5,e1a21420-01c9-5963-b625-0e0d2f4fd60e-doc,None,City is difference from country,documentation
6,fa6658bc-bd5f-5cb7-abcb-1b80eb76fbb1-doc,None,If you cannot answer the question with the ava...,documentation
7,fafb7b27-6b8b-5e37-a380-6f919bab58ef-doc,None,Make sure ALWAYS use correct table name.,documentation
8,fb7de3f5-cced-5c8d-9c91-2558e627ba81-doc,None,"When question ask about ""tên"" in name, use ""fi...",documentation

In [ ]:
%%time
s = vn.ask(
    auto_train=False,
    visualize=False,
    print_results=False,
    allow_llm_to_see_data=True,
    question="Liệt kê tất cả các bệnh nhân nam sinh năm 1990 và đăng ký kết hôn tại Hải Phòng")

SQL Prompt: [{'role': 'system', 'content': 'You are a PostgreSQL expert. Please help to generate a SQL query to answer the question. Your response should ONLY be based on the given context and follow the response guidelines and format instructions. \n===Tables \n\n    CREATE TABLE medical_patient (\n\tid SERIAL NOT NULL, \n\tmessage_main_attachment_id INTEGER, \n\tend_period_menses INTEGER, \n\tend_time_menses INTEGER, \n\tstart_time_menses INTEGER, \n\tiui_qty INTEGER, \n\tivf_qty INTEGER, \n\tyear_wait_child INTEGER, \n\tmonth_wait_child INTEGER, \n\tdoctor_id INTEGER, \n\tpatient_record_count INTEGER, \n\tage INTEGER, \n\tcompany_id INTEGER NOT NULL, \n\torigin_patient_id INTEGER, \n\tethnic_id INTEGER, \n\treligion_id INTEGER, \n\tstate_id INTEGER, \n\tcountry_id INTEGER, \n\tcurrent_relationship_id INTEGER, \n\tcreate_uid INTEGER, \n\twrite_uid INTEGER, \n\tname VARCHAR NOT NULL, \n\tpulse_rate VARCHAR, \n\tbreathing_rate VARCHAR, \n\tnotes_others VARCHAR, \n\tis_contracept VARCHAR, \n\tcontraceptive VARCHAR, \n\tnotes_father VARCHAR, \n\tnotes_mother VARCHAR, \n\tnotes_grandparent VARCHAR, \n\thas_medical_disease VARCHAR, \n\tright_ovary VARCHAR, \n\tleft_ovary VARCHAR, \n\tuterus_comment VARCHAR, \n\tleft_epididymis VARCHAR, \n\tright_epididymis VARCHAR, \n\tleft_varicose_testicle VARCHAR, \n\tright_varicose_testicle VARCHAR, \n\texam_inguinal_left VARCHAR, \n\texam_inguinal_right VARCHAR, \n\texam_rectal VARCHAR, \n\tmarital VARCHAR, \n\tmarriage_registration_number VARCHAR, \n\tmarriage_registration_place VARCHAR, \n\tnotes_smoking VARCHAR, \n\tnotes_wine VARCHAR, \n\tusing_drugs_note VARCHAR, \n\texternal_factors_note VARCHAR, \n\tiui_result VARCHAR, \n\tivf_result VARCHAR, \n\tuse_contraception VARCHAR, \n\tcontraception VARCHAR, \n\tsemen_test VARCHAR, \n\tfrequence_sex_activity VARCHAR, \n\tpara_text VARCHAR, \n\tnumber_pregnancy VARCHAR, \n\tnumber_children_alive VARCHAR, \n\tnumber_delivery VARCHAR, \n\tnumber_caesarean_delivery VARCHAR, \n\tnumber_premature_birth VARCHAR, \n\tnumber_miscarriage VARCHAR, \n\tnumber_abortion VARCHAR, \n\tnumber_stillbirth VARCHAR, \n\thas_geu VARCHAR, \n\thas_molar_pregnancy VARCHAR, \n\tsexual_activity_time_per_week VARCHAR, \n\thas_pain_sex VARCHAR, \n\tpre_number_pregnancy VARCHAR, \n\tpre_number_children_alive VARCHAR, \n\tpre_number_delivery VARCHAR, \n\tpre_number_caesarean_delivery VARCHAR, \n\tpre_number_premature_birth VARCHAR, \n\tpre_number_miscarriage VARCHAR, \n\tpre_number_abortion VARCHAR, \n\tpre_number_stillbirth VARCHAR, \n\tamenorrhea VARCHAR, \n\tyear_old_start_menses VARCHAR, \n\tyear_start_menses VARCHAR, \n\tperiod_menses VARCHAR, \n\tfeature_menses VARCHAR, \n\ttime_menses VARCHAR, \n\tvolume_blood VARCHAR, \n\tis_pain VARCHAR, \n\tinfertility VARCHAR, \n\thas_disease_affects_childbirth VARCHAR, \n\thas_disease_affects_childbirth_note VARCHAR, \n\tmedical_history VARCHAR, \n\tpelvic_inflammatory_disease VARCHAR, \n\tpelvic_inflammatory_disease_note VARCHAR, \n\thas_historic_surgery VARCHAR, \n\tsurgery_geu VARCHAR, \n\tsurgery_cut_vt VARCHAR, \n\tsurgery_catheterization VARCHAR, \n\tsurgery_ovarian_cyst_removal VARCHAR, \n\tsurgery_ovarian_cancer_removal VARCHAR, \n\tsurgery_uterine_fibroid_removal VARCHAR, \n\tsurgery_vrt VARCHAR, \n\tsurgery_caesareans VARCHAR, \n\tnipple_discharge VARCHAR, \n\tnipple_discharge_note VARCHAR, \n\tmental_illness_history VARCHAR, \n\tfamily_history VARCHAR, \n\thistory_drug_allergy VARCHAR, \n\thas_urinary_tract_infection VARCHAR, \n\thad_mumps VARCHAR, \n\tinvestigation VARCHAR, \n\ttcvt_uterus VARCHAR, \n\ttcvt_uterus_note VARCHAR, \n\ttcvt_vt_right VARCHAR, \n\ttcvt_vt_right_note VARCHAR, \n\ttcvt_vt_left VARCHAR, \n\ttcvt_vt_left_note VARCHAR, \n\tpelvis VARCHAR, \n\tabdomen VARCHAR, \n\tlaparoscopy_uterus VARCHAR, \n\tovaries VARCHAR, \n\tlaparoscopy_vt_right VARCHAR, \n\tlaparoscopy_vt_right_note VARCHAR, \n\tlaparoscopy_vt_left VARCHAR, \n\tlaparoscopy_vt_left_note VARCHAR, \n\tvagina VARCHAR, \n\tuterine_cavity VARCHAR, \n\tostias VARCHAR, \n\tintervention VARCHAR, \n\tblood_pressure VARCHAR, \n\tpain_scale VARCHAR, \n\tpain_score VARCHAR, \n\tphysical_examination VARCHAR, \n\thair_distribution VARCHAR, \n\tbreast_development VARCHAR, \n\tlactation VARCHAR, \n\texternal_genitalia VARCHAR, \n\tinternal_genitalia VARCHAR, \n\thymen VARCHAR, \n\tgenitalia_vagina VARCHAR, \n\tuterus_volume VARCHAR, \n\tuterus_density VARCHAR, \n\tuterus_mobility VARCHAR, \n\tuterus_posture VARCHAR, \n\tuterus_adnexas VARCHAR, \n\ttest_catheter VARCHAR, \n\tpenis VARCHAR, \n\tswelling_scrotum VARCHAR, \n\trectal_examination VARCHAR, \n\tprostate VARCHAR, \n\tvesicles VARCHAR, \n\tleft_testicle VARCHAR, \n\tleft_testicle_volume VARCHAR, \n\tleft_epididymides VARCHAR, \n\tleft_vasa_deferentia VARCHAR, \n\tleft_varicocele VARCHAR, \n\tleft_inguinal_examination VARCHAR, \n\tright_testicle VARCHAR, \n\tright_testicle_volume VARCHAR, \n\tright_epididymides VARCHAR, \n\tright_vasa_deferentia VARCHAR, \n\tright_varicocele VARCHAR, \n\tright_inguinal_examination VARCHAR, \n\tfirst_name VARCHAR, \n\tlast_name VARCHAR, \n\tjson_modify_name VARCHAR, \n\tcode VARCHAR, \n\tgender VARCHAR, \n\tlocation VARCHAR, \n\tday_birth VARCHAR, \n\tmonth_birth VARCHAR, \n\tyear_birth VARCHAR, \n\tcharacters VARCHAR, \n\tcode_center VARCHAR, \n\tinternal_ref VARCHAR, \n\tlang VARCHAR, \n\tstreet VARCHAR, \n\taddress VARCHAR, \n\tpermanent_address VARCHAR, \n\tmobile VARCHAR, \n\temail VARCHAR, \n\tid_passport VARCHAR, \n\tid_card VARCHAR, \n\told_id_card VARCHAR, \n\tplace_issued VARCHAR, \n\tcareer VARCHAR, \n\twork_address VARCHAR, \n\trole VARCHAR, \n\tultrasound_date DATE, \n\thsg_date DATE, \n\thysteroscopy_date DATE, \n\tmarriage_registration_date DATE, \n\ttc_vt_scan_date DATE, \n\tlaparoscopy_date DATE, \n\tdiagnostic_operative_hystersoscopy_date DATE, \n\tbirthday DATE, \n\tdate_first DATE, \n\tdate_issued DATE, \n\tnotes_general TEXT, \n\tsystemic_disease_note TEXT, \n\tfemale_medical_disease_note TEXT, \n\thas_method_treat_infertility_used_note TEXT, \n\tnotes_period_menses TEXT, \n\tnotes_time_menses TEXT, \n\tnotes_blood TEXT, \n\tnotes_pain TEXT, \n\tsexually_transmitted_disease_note TEXT, \n\tmale_has_sexually_transmitted_disease_note TEXT, \n\tmedical_history_note TEXT, \n\tsurgery_other_diseases TEXT, \n\thas_male_surgery_note TEXT, \n\tmental_illness_history_note TEXT, \n\tfamily_history_note TEXT, \n\tdrug_allergy_note TEXT, \n\thas_urinary_tract_infection_note TEXT, \n\thad_mumps_note TEXT, \n\ttcvt_note TEXT, \n\tpelvis_note TEXT, \n\tabdomen_note TEXT, \n\tlaparoscopy_uterus_note TEXT, \n\tovaries_note TEXT, \n\tlaparoscopy_note TEXT, \n\tvagina_note TEXT, \n\tuterine_cavity_note TEXT, \n\tostias_note TEXT, \n\tintervention_note TEXT, \n\tpain_note TEXT, \n\tphysical_examination_note TEXT, \n\thair_distribution_note TEXT, \n\tbreast_development_note TEXT, \n\tlactation_note TEXT, \n\texternal_genitalia_note TEXT, \n\tinternal_genitalia_note TEXT, \n\thymen_note TEXT, \n\tgenitalia_vagina_note TEXT, \n\tnotes TEXT, \n\tis_others BOOLEAN, \n\theredity_father BOOLEAN, \n\theredity_mother BOOLEAN, \n\theredity_grandparent BOOLEAN, \n\tis_hsg BOOLEAN, \n\tis_hysteroscopy BOOLEAN, \n\tis_smoking BOOLEAN, \n\tis_wine BOOLEAN, \n\tis_using_drugs BOOLEAN, \n\texternal_factors_affected BOOLEAN, \n\tshow_iui BOOLEAN, \n\tshow_ivf BOOLEAN, \n\tshow_male_surgery_note BOOLEAN, \n\tactive BOOLEAN, \n\tvirtual_patient BOOLEAN, \n\tcreate_date TIMESTAMP WITHOUT TIME ZONE, \n\twrite_date TIMESTAMP WITHOUT TIME ZONE, \n\ttemperature DOUBLE PRECISION, \n\theight DOUBLE PRECISION, \n\tweight DOUBLE PRECISION, \n\tbmi DOUBLE PRECISION, \n\trelated_patient_id INTEGER, \n\tamh VARCHAR, \n\tfsh VARCHAR, \n\tlh VARCHAR, \n\te2 VARCHAR, \n\tp4 VARCHAR, \n\tbeta_hcg VARCHAR, \n\tprolactin VARCHAR, \n\tblood_type VARCHAR, \n\thiv VARCHAR, \n\thbsag VARCHAR, \n\thav VARCHAR, \n\thcv VARCHAR, \n\thas_recognition BOOLEAN, \n\texpected_medical_protocol_id INTEGER, \n\texpected_treatment_technical VARCHAR, \n\texpected_fsh_dosage VARCHAR, \n\ttreatment_history_summary TEXT, \n\twife_other_treatment_issue_note TEXT, \n\thusband_other_treatment_issue_note TEXT, \n\tis_diminished_ovarian_reserve BOOLEAN, \n\tis_ovarian_endometriosis BOOLEAN, \n\tis_adenomyosis BOOLEAN, \n\tis_polycystic_ovary_syndrome BOOLEAN, \n\tis_polycystic_ovarian_on_ultrasound BOOLEAN, \n\tis_menstrual_disorders BOOLEAN, \n\tis_hyperandrogenism BOOLEAN, \n\tis_hypopituitarism BOOLEAN, \n\tis_wife_genetic_disorder BOOLEAN, \n\tis_wife_thalassemia BOOLEAN, \n\twife_other_treatment_issue BOOLEAN, \n\tis_normozoospermia BOOLEAN, \n\tis_retrograde_ejaculation BOOLEAN, \n\tis_oligoasthenoteratozoospermia BOOLEAN, \n\tis_varicocele BOOLEAN, \n\tis_husband_genetic_disorder BOOLEAN, \n\tis_cryptorchidism BOOLEAN, \n\tis_azoospermia BOOLEAN, \n\tis_obstructive BOOLEAN, \n\tis_non_obstructive BOOLEAN, \n\tis_husband_thalassemia BOOLEAN, \n\thusband_other_treatment_issue BOOLEAN, \n\tcode_bank_reference VARCHAR, \n\tsession_code_bank_reference VARCHAR, \n\tsession_code_oocyte_bank_reference VARCHAR, \n\tresponsible_user_id INTEGER, \n\tnumber_of_marriages INTEGER, \n\ticd_refer_hospital_id INTEGER, \n\ticd_initial_id INTEGER, \n\ticd_definitive_id INTEGER, \n\ticd_co_morbidity_id INTEGER, \n\tnotes_using_stimulants VARCHAR, \n\tsexually_transmitted_disease_treatment VARCHAR, \n\tnotes_para VARCHAR, \n\thas_history_of_birth_defects VARCHAR, \n\tnotes_history_of_birth_defects VARCHAR, \n\thas_medical_disease_treatment VARCHAR, \n\tnotes_other_surgery_history VARCHAR, \n\thas_genetic_pathology VARCHAR, \n\thas_history_of_infetility_in_family VARCHAR, \n\thas_history_of_birth_defects_in_family VARCHAR, \n\tandrogen VARCHAR, \n\tleft_breast_development VARCHAR, \n\tright_breast_development VARCHAR, \n\tsecondary_genital_signs_text VARCHAR, \n\tvulva_perineum_text VARCHAR, \n\tvagina_text VARCHAR, \n\tcervical_text VARCHAR, \n\tuterus_text VARCHAR, \n\tleft_uterus_appendage_text VARCHAR, \n\tright_uterus_appendage_text VARCHAR, \n\tdouglass_text VARCHAR, \n\tother_parts VARCHAR, \n\tuterine VARCHAR, \n\tuterine_note VARCHAR, \n\tuterine_tube_left VARCHAR, \n\tuterine_tube_left_note VARCHAR, \n\tuterine_tube_right VARCHAR, \n\tuterine_tube_right_note VARCHAR, \n\tuterine_pump_ultrasound VARCHAR, \n\tuterine_pump_ultrasound_note VARCHAR, \n\tdiagnostic_hysteroscopy VARCHAR, \n\tdiagnostic_hysteroscopy_note VARCHAR, \n\tbreast_ultrasound VARCHAR, \n\tbreast_ultrasound_note VARCHAR, \n\tmammography VARCHAR, \n\tmammography_note VARCHAR, \n\tcervical_cancer_screening VARCHAR, \n\tcervical_cancer_screening_note VARCHAR, \n\tthalassemia VARCHAR, \n\tantiphospholipid VARCHAR, \n\tthrombophilia VARCHAR, \n\tivf_other_reason VARCHAR, \n\tleft_undescended_testicles VARCHAR, \n\tright_undescended_testicles VARCHAR, \n\tleft_dilation_surgery VARCHAR, \n\tright_dilation_surgery VARCHAR, \n\tsexual_desire VARCHAR, \n\tfrequence_sex_activity_hp VARCHAR, \n\tejaculation_disorder_hp VARCHAR, \n\terectile_dysfunction_hp VARCHAR, \n\tretrograde_ejaculation_hp VARCHAR, \n\tundefined_reason VARCHAR, \n\tklinefelter VARCHAR, \n\tdna_y VARCHAR, \n\tother_dna VARCHAR, \n\tcancer VARCHAR, \n\tother_pain VARCHAR, \n\tgnrh VARCHAR, \n\tvasectomy VARCHAR, \n\tvasectomy_dna VARCHAR, \n\tother_reason VARCHAR, \n\terectile_dysfunction_mind VARCHAR, \n\tejaculation_disorder_sum VARCHAR, \n\tleft_testicular_biopsy VARCHAR, \n\tright_testicular_biopsy VARCHAR, \n\ttesticular_biopsy_text VARCHAR, \n\tkaryotype VARCHAR, \n\tdna_y_text VARCHAR, \n\tultrasound_text VARCHAR, \n\tother_testicular VARCHAR, \n\tiui_code VARCHAR, \n\tivf_code VARCHAR, \n\tdouglass VARCHAR, \n\tenvironment_or_occupational_factors VARCHAR, \n\tnotes_genetic_pathology TEXT, \n\tnotes_history_of_infetility_in_family TEXT, \n\tnotes_history_of_birth_defects_in_family TEXT, \n\tmedical_history_in_family_others TEXT, \n\tdiagnosis TEXT, \n\ttreatment_plan TEXT, \n\tleft_vasectomy TEXT, \n\tright_vasectomy TEXT, \n\tdiagnosis_refer_hospital TEXT, \n\tinitial_diagnosis TEXT, \n\tdefinitive_diagnosis TEXT, \n\tco_morbidity TEXT, \n\tis_using_stimulants BOOLEAN, \n\tshow_medical_disease_note BOOLEAN, \n\thas_other_surgery_history BOOLEAN, \n\tCONSTRAINT medical_patient_pkey PRIMARY KEY (id), \n\tCONSTRAINT medical_patient_company_id_fkey FOREIGN KEY(company_id) REFERENCES res_company (id) ON DELETE RESTRICT, \n\tCONSTRAINT medical_patient_country_id_fkey FOREIGN KEY(country_id) REFERENCES res_country (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_create_uid_fkey FOREIGN KEY(create_uid) REFERENCES res_users (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_current_relationship_id_fkey FOREIGN KEY(current_relationship_id) REFERENCES medical_history_relationship (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_doctor_id_fkey FOREIGN KEY(doctor_id) REFERENCES hr_employee (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_ethnic_id_fkey FOREIGN KEY(ethnic_id) REFERENCES res_ethnic (id) ON DELETE RESTRICT, \n\tCONSTRAINT medical_patient_expected_medical_protocol_id_fkey FOREIGN KEY(expected_medical_protocol_id) REFERENCES medical_protocol (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_icd_co_morbidity_id_fkey FOREIGN KEY(icd_co_morbidity_id) REFERENCES medical_icd (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_icd_definitive_id_fkey FOREIGN KEY(icd_definitive_id) REFERENCES medical_icd (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_icd_initial_id_fkey FOREIGN KEY(icd_initial_id) REFERENCES medical_icd (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_icd_refer_hospital_id_fkey FOREIGN KEY(icd_refer_hospital_id) REFERENCES medical_icd (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_message_main_attachment_id_fkey FOREIGN KEY(message_main_attachment_id) REFERENCES ir_attachment (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_origin_patient_id_fkey FOREIGN KEY(origin_patient_id) REFERENCES medical_patient (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_related_patient_id_fkey FOREIGN KEY(related_patient_id) REFERENCES medical_patient (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_religion_id_fkey FOREIGN KEY(religion_id) REFERENCES res_religion (id) ON DELETE RESTRICT, \n\tCONSTRAINT medical_patient_responsible_user_id_fkey FOREIGN KEY(responsible_user_id) REFERENCES res_users (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_state_id_fkey FOREIGN KEY(state_id) REFERENCES res_country_state (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_write_uid_fkey FOREIGN KEY(write_uid) REFERENCES res_users (id) ON DELETE SET NULL, \n\tCONSTRAINT medical_patient_pid_uniq UNIQUE (code)\n)\n;\n    \n\n\n    CREATE TABLE hr_employee (\n\tid SERIAL NOT NULL, \n\tresource_id INTEGER NOT NULL, \n\tcompany_id INTEGER NOT NULL, \n\tresource_calendar_id INTEGER, \n\tmessage_main_attachment_id INTEGER, \n\tcolor INTEGER, \n\tdepartment_id INTEGER, \n\tjob_id INTEGER, \n\taddress_id INTEGER, \n\twork_contact_id INTEGER, \n\twork_location_id INTEGER, \n\tuser_id INTEGER, \n\tparent_id INTEGER, \n\tcoach_id INTEGER, \n\taddress_home_id INTEGER, \n\tcountry_id INTEGER, \n\tchildren INTEGER, \n\tcountry_of_birth INTEGER, \n\tbank_account_id INTEGER, \n\tkm_home_work INTEGER, \n\tdeparture_reason_id INTEGER, \n\tcreate_uid INTEGER, \n\twrite_uid INTEGER, \n\tname VARCHAR, \n\tjob_title VARCHAR, \n\twork_phone VARCHAR, \n\tmobile_phone VARCHAR, \n\twork_email VARCHAR, \n\temployee_type VARCHAR NOT NULL, \n\tgender VARCHAR, \n\tmarital VARCHAR, \n\tspouse_complete_name VARCHAR, \n\tplace_of_birth VARCHAR, \n\tssnid VARCHAR, \n\tsinid VARCHAR, \n\tidentification_id VARCHAR, \n\tpassport_id VARCHAR, \n\tpermit_no VARCHAR, \n\tvisa_no VARCHAR, \n\tcertificate VARCHAR, \n\tstudy_field VARCHAR, \n\tstudy_school VARCHAR, \n\temergency_contact VARCHAR, \n\temergency_phone VARCHAR, \n\tbarcode VARCHAR, \n\tpin VARCHAR, \n\tspouse_birthdate DATE, \n\tbirthday DATE, \n\tvisa_expire DATE, \n\twork_permit_expiration_date DATE, \n\tdeparture_date DATE, \n\tadditional_note TEXT, \n\tnotes TEXT, \n\tdeparture_description TEXT, \n\tactive BOOLEAN, \n\twork_permit_scheduled_activity BOOLEAN, \n\tcreate_date TIMESTAMP WITHOUT TIME ZONE, \n\twrite_date TIMESTAMP WITHOUT TIME ZONE, \n\tshort_name VARCHAR, \n\tCONSTRAINT hr_employee_pkey PRIMARY KEY (id), \n\tCONSTRAINT hr_employee_address_home_id_fkey FOREIGN KEY(address_home_id) REFERENCES res_partner (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_address_id_fkey FOREIGN KEY(address_id) REFERENCES res_partner (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_bank_account_id_fkey FOREIGN KEY(bank_account_id) REFERENCES res_partner_bank (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_coach_id_fkey FOREIGN KEY(coach_id) REFERENCES hr_employee (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_company_id_fkey FOREIGN KEY(company_id) REFERENCES res_company (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_country_id_fkey FOREIGN KEY(country_id) REFERENCES res_country (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_country_of_birth_fkey FOREIGN KEY(country_of_birth) REFERENCES res_country (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_create_uid_fkey FOREIGN KEY(create_uid) REFERENCES res_users (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_department_id_fkey FOREIGN KEY(department_id) REFERENCES hr_department (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_departure_reason_id_fkey FOREIGN KEY(departure_reason_id) REFERENCES hr_departure_reason (id) ON DELETE RESTRICT, \n\tCONSTRAINT hr_employee_job_id_fkey FOREIGN KEY(job_id) REFERENCES hr_job (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_message_main_attachment_id_fkey FOREIGN KEY(message_main_attachment_id) REFERENCES ir_attachment (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_parent_id_fkey FOREIGN KEY(parent_id) REFERENCES hr_employee (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_resource_calendar_id_fkey FOREIGN KEY(resource_calendar_id) REFERENCES resource_calendar (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_resource_id_fkey FOREIGN KEY(resource_id) REFERENCES resource_resource (id) ON DELETE RESTRICT, \n\tCONSTRAINT hr_employee_user_id_fkey FOREIGN KEY(user_id) REFERENCES res_users (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_work_contact_id_fkey FOREIGN KEY(work_contact_id) REFERENCES res_partner (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_work_location_id_fkey FOREIGN KEY(work_location_id) REFERENCES hr_work_location (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_write_uid_fkey FOREIGN KEY(write_uid) REFERENCES res_users (id) ON DELETE SET NULL, \n\tCONSTRAINT hr_employee_barcode_uniq UNIQUE (barcode), \n\tCONSTRAINT hr_employee_user_uniq UNIQUE (user_id, company_id)\n);\n    \n\n\n===Additional Context \n\n"nơi đăng ký kết hôn" is also known as "marriage registation place"\n\nCity is difference from country\n\nWhen the question contains exact string, ALWAYS use case-insensitive LOWER or ILIKE.\n\ntry to parse into integer when you have a condition clause, example: where year_birth=1990 ==> where year_birth=\'1990\'\n\nWhen question ask about "họ" in name, use "last_name"\n\nWhen question ask about "tên" in name, use "first_name"\n\nIf the question contains an address, you should query based on the type of address name located in a certain cell, not adress equal a cell value, example: LOWER(mp.marriage_registration_place) = \'%hải phòng%\'; ==> LOWER(mp.marriage_registration_place) LIKE \'%hải phòng%\';\n\nMake sure ALWAYS use correct table name.\n\nIf you cannot answer the question with the available database schema, return \'I do not know\'\n\n===Response Guidelines \n1. If the provided context is sufficient, please generate a valid SQL query without any explanations for the question. \n2. If the provided context is almost sufficient but requires knowledge of a specific string in a particular column, please generate an intermediate SQL query to find t

/opt/conda/lib/python3.10/site-packages/transformers/generation/configuration_utils.py:515: UserWarning: `do_sample` is set to `False`. However, `temperature` is set to `0.6` -- this flag is only used in sample-based generation modes. You should set `do_sample=True` or unset `temperature`.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/transformers/generation/configuration_utils.py:520: UserWarning: `do_sample` is set to `False`. However, `top_p` is set to `0.9` -- this flag is only used in sample-based generation modes. You should set `do_sample=True` or unset `top_p`.
  warnings.warn(

LLM Response:
SELECT mp.first_name, mp.last_name FROM medical_patient mp WHERE LOWER(mp.marriage_registration_place) LIKE '%hải phòng%' AND mp.year_birth = '1990' AND mp.gender ='male';
Extracted SQL: SELECT mp.first_name, mp.last_name FROM medical_patient mp WHERE LOWER(mp.marriage_registration_place) LIKE '%hải phòng%' AND mp.year_birth = '1990' AND mp.gender ='male';
CPU times: user 42.4 s, sys: 1.91 s, total: 44.3 s
Wall time: 44.5 s

In [ ]:
s[0]

"SELECT mp.first_name, mp.last_name FROM medical_patient mp WHERE LOWER(mp.marriage_registration_place) LIKE '%hải phòng%' AND mp.year_birth = '1990' AND mp.gender ='male';"

In [ ]:
vn.run_sql("SELECT mp.first_name, mp.last_name FROM medical_patient mp WHERE LOWER(mp.marriage_registration_place) LIKE '%hải phòng%' AND mp.year_birth = '1990' AND mp.gender ='male';")

      first_name last_name
0         Ngô Sỹ      Hùng
1        Đàm Văn      Thức
2       Bùi Bình      Đông
3        Bùi Văn       Lợi
4         Vũ Văn       Hợp
..           ...       ...
76        Đỗ Huy     Hoàng
77       Đoàn Vũ      Linh
78  Nguyễn Trung     Thành
79    Nguyễn Văn     Thuấn
80      Phạm Thế      Long

[81 rows x 2 columns]